{% extends 'base.html' %} {% block content %}
<div class="container m-5 card">
  <h2 class="text-center mb-5">Login to Django</h2>

  <form class="card-body" method="POST">
  {% csrf_token %}{% if messages %} {% for message in messages %}
    <div class="alert alert-info">
      {{message}}
    </div>
    {% endfor %} {% endif %}
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">
        Username
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" name="username" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">
        Password
      </label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" name="password" />
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
    <div class="text-center">
      <a href="/register">Don't have an account</a>
    </div>
  </form>
</div>
{% endblock content %}
